# Dependencies are installed inside the image with npm ci
**/node_modules/

# Build results
dist/
out-tsc/
coverage/
.angular/

# JetBrains
**/.idea/

# Visual Studio Code
**/.vscode/

# Logs
npm-debug.log*

# Docker Environments
**/.env

# Docker files
Dockerfile
.dockerignore
