<mat-toolbar class="navbar">
  <nav class="navbar-left">
    @if (isLoggedIn()) {
      <a mat-button routerLink="/accounts" routerLinkActive="nav-link-active">
        <mat-icon>account_balance_wallet</mat-icon>

        Accounts
      </a>

      <a mat-button routerLink="/categories" routerLinkActive="nav-link-active">
        <mat-icon>label</mat-icon>

        Categories
      </a>

      <a mat-button routerLink="/items" routerLinkActive="nav-link-active">
        <mat-icon>inventory_2</mat-icon>

        Items
      </a>

      @if (isAdmin()) {
        <a mat-button routerLink="/admin/categories" routerLinkActive="nav-link-active">
          <mat-icon>admin_panel_settings</mat-icon>

          Admin
        </a>
      }
    }
  </nav>

  <span class="navbar-title">
    Pocket Advisor
  </span>

  <div class="navbar-right">
    @if (isLoggedIn()) {
      <button mat-button class="nav-auth-button" (click)="logout()">
        <mat-icon>logout</mat-icon>

        Logout
      </button>
    }
  </div>
</mat-toolbar>
